html{
    background-color: #6bab90;
}

button{
    text-align: center;
    border : 3px solid #5e4c5a ;
    background-color: #e1f0c4;
    padding: 15px;
    border-radius: 8px;
}



.div{
    margin: 20px;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

.outcome_buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin-left: auto;
}

.main{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 97%;
    background-color: #d3e0b9ec;
    color: #5e4c5a


}
img{
    border-radius: 30px;
}


#name{
    text-align: center;
}

p{
   text-indent: 50px;
}

.outcome_logo{
    display: block;
    opacity: .95;
    margin-left: auto;
    margin-right: auto;
} 



.column{
    text-align: center;
}

.side_by_side{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
