html{
    background-color: #6bab90;
}

button{
    text-align: center;
    font-size:large;
    border : 3px solid #5e4c5a ;
    background-color: #e1f0c4;
    padding: 20px;
    border-radius: 8px;
}

body{
    font-family: sans-serif;
    margin-top: 80px;
    padding: 30px;
}

header{
    background-color: #5e4c5a;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}

header *{
    display: inline;
}

header li {
    margin: 3px;
}

header li a {
    color: #e1f0c4;
    text-decoration: none;
}

.div{
    margin: 20px;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

.outcome_buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin-left: auto;
}

.main{
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;

    width: 97%;
    background-color: #e1f0c4;
    color: #5e4c5a
}
img{
    border-radius: 30px;
}


#name{
    text-align: center;
}

p{
    text-align: center;
   text-indent: 50px;
   padding-left: 18px;
   padding-right: 18px;
   padding-bottom: 18px;
}

.outcome_logo{
    display: block;
    opacity: .95;
    margin-left: auto;
    margin-right: auto;
} 

#text_paragraph{
    border-radius: 8px;
    background-color: #55917f96;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 18px;
    margin-left: 2%;
    margin-right: 2%;
}

.column{
    text-align: center;
}

.side_by_side{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

a:visited{
    color: #e1f0c4
}

#impressions{
    padding-bottom: 200px;
}

figcaption{
    text-align: center;
    text-indent: 50px;
   padding-left: 18px;
   padding-right: 18px;
   padding-bottom: 18px;
}

